:root {
  --text-inverse: #FFFFFF;
  --basic-background1: #81B3D2;
  --basic-background2: #EEEEEE;
  --basic-hover: #669EC0;
  --button-active: #5496BD;
  --reservation: #766357;
  --reservation1: #604E43;
  --button-secondary-background-active: #503E33;
  --reservation2: #766458;
  --text-basic: #000000;
  --text-faded: #333333;
}


.main-header {
  text-align: center;
}

.main-navigation {
  color: var(--text-basic);
  list-style: none;
  text-decoration: none;
}

.main-header-logo {
  text-align: center;
}

.site-navigation {
  color: var(--text-basic);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding-left: 0;
}

.site-navigation a{
  color: var(--text-basic);
  text-align: center;
  text-decoration: none;
}

