
:root {
  --text-inverse: #FFFFFF;
  --basic-background1: #81B3D2;
  --basic-background2: #EEEEEE;
  --basic-background3: #F2F2F2;
  --basic-background4: #EBEBEB;
  --basic-background5: #CACACA;
  --basic-hover: #669EC0;
  --button-active: #5496BD;
  --reservation: #766357;
  --reservation1: #604E43;
  --reservation2: #766458;
  --button-secondary-background-active: #503E33;
  --text-basic: #000000;
  --text-faded: #333333;
}
.page {
  background-color: var(--basic-background3);
}

.page-body {
  min-width: 1200px;
  width: 1200px;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--text-basic);
  text-transform: uppercase;
  background-color: var(--text-inverse);
  box-shadow: 0px 5px 15px rgb(0 1 1 / 20%);
  margin: 0 auto;
}

.main-header {
  text-align: center;
}

.main-navigation {
  color: var(--text-basic);
  list-style: none;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 1200px;
  height: 56px;
  margin: 0 auto;
}

.navigation-item {
  align-self: center;
}

.navigation-item.indent {
  margin-left: 200px;
}

 /* .navigation-link1 {
 margin-right: 182px;
}

.navigation-link2 {
  margin-right: 200px;
} */

.logo {
  width: 138px;
  height: 70px;
  text-align: center;
  position: absolute;
  left: 50%;
  top: 0;
  transform: translate(-50%, 0);
  z-index: 1;
}

/* .container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 10px;
} */

.main-navigation .container {
  display: flex;
  justify-content: space-between;
}

.navigation {
  width: 1200px;
  height: 56px;
  color: var(--text-basic);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
  text-align: center;
  text-decoration: none;
  margin: 0 auto;
  padding: 0;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.navigation-link {
  color: var(--text-basic);
  text-align: center;
  text-decoration: none;
}

.navigation-link:hover {
  color: var(--basic-background1);
  text-align: center;
  text-decoration: none;
}

.navigation-link:active {
  color: var(--basic-background5);
  text-align: center;
  text-decoration: none;
}

.sedona-site-description {
  width: 1200px;
  height: 216px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.site-description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-top: 42.5px;
}

.section-header {
  color: var(--text-faded);
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;

}

.container {
  text-align: center;
  width: 1200px;
  margin: 0 auto;
}

.main-picture {
  position: relative;
}

.main-foto {
  display: flex;
}

.main-decoration {
  position: absolute;
  right: 0;
  left: 0;
  bottom: 0;
}

.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
}

.feature {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;


}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.features-item {
  width: 400px;
  height: 256px;
}

.feature-icon {
  height: 330px;
}

.features-item-special {
  width: 100%;
  display: flex;
}

.features-item-special .feature {
  width: 400px;
}

.feature-accent {
  background-color: var(--basic-background1);
  color: var(--text-inverse);
  width: 400px;
}

.feature-faded {
  background-color: var(--basic-background2);
  height: 256px;
}

.feature-description {
  color: var(--text-faded);
}

.caption {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.find-hotel {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
  margin: 58px 457px 4px 446px;
}

.find-hotels-date {
  color: var(--text-faded);
  padding-bottom: 48px;
  margin-top: 40px;
}

.list {
  list-style: none;
}

.dropdown {
  position: relative;
}

.form-wrapper {
  width: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
}

.dropdown-content {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  /* display: flex; */
  flex-direction: column;
  width: 568px;
  /*height: 395px; */
  margin: 0 auto;
  position: absolute;
  background-color: var(--text-inverse);
  left: 316px;
}

.button-search {
  width: 568px;
  height: 86px;
  color: var(--text-inverse);;
  background-color: var(--reservation);
  text-transform: uppercase;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  border: none;
}

.button-search:hover {
  background-color: var(--reservation1);
}

.button-search:active {
  color: rgba(255,255,255, 0.3);
  background-color: var(--button-secondary-background-active);
  border: none;
}


.search-form {
  width: 568px;
  height: 395px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-form-item {
  display: flex;
  margin: 0;
  /* margin-right: 55px; */
  margin-bottom: 29px;
}

.search-form-group {
  display: flex;
  margin: 0;
  /* margin-right: 55px; */
  margin-bottom: 54px;
}

.dropdown-input, .dropdown-input-short {
  background-color: var(--basic-background3);
  border: none;
}

.dropdown-text {

}

.dropdown-input {
  width: 346px;
  height: 38px;
  align-self: center;
}

.dropdown-input-short {
  width: 114px;
  height: 38px;
  align-self: center;
}

/* img {
  max-width: 100%;
  height: auto;
} */

/* .basic-background2 {
  background-color: var(--basic-background2);
  } */

/* .find-hotels {
  display: flex;
  flex-direction: column;
} */

.search-button {
  font-size: 21px;
  line-height: 27.17px;
  font-weight: 700;
  width: 458px;
  height: 58px;
  background-color: var(--basic-background1);
  color: var(--text-inverse);
  border: none;
  text-transform: uppercase;
  align-self: center;

}

.search-button:hover {
  background-color: var(--basic-hover);
}

.search-button:active {
  color: rgba(255,255,255, 0.3);
  background-color: var(--button-active);
  display: inline-block;
  border: none;
}

.search-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: inline-block;
  width: 568px;
  height: 86px;
  background-color: var(--reservation);
  color: var(--text-inverse);
  border: none;
  text-transform: uppercase;
  align-self: center;
}

.search-hotel:active {
  padding: 0;

}

.filters {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  background-image: url("../img/background.jpg");
  background-repeat: no-repeat;
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  height: 217px;
}

.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}

.custom-checkbox+label::before {
  content: '';
  display: inline-block;
  width: 23px;
  height: 23px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #FFFFFF;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}

.custom-checkbox:checked+label::before {
  border-color: #FFFFFF;
  background-color: inherit;
  background-image: url(img/check.svg);
}

.filter {
  margin: 0;
  padding: 0;
  border: none;
  align-self: center;
  margin-left: 72px;
}

.range-filter {

}

.range-controls {
  /* margin-bottom: 33px; */
  position: relative;
}

.range-controls .scale {
  width: 316px;
  height: 2px;
  background: var(--basic-background4);
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: var(--text-inverse);
}

.range-controls .toggle {
  width: 19px;
  height: 19.09px;
  padding: 0;
  border: 8px solid #FFFFFF;
  border-radius: 50%;
  position: absolute;
  top: 20px;
  left: 0;
  cursor: pointer;

}

.range-controls .toggle-min {
  left: 18px;
  top: -16px;
}

.range-controls .toggle-max {
  left: 160px;
  top: -16px;
}


.scale {
  margin-bottom: 33px;
}

.price-controls {
  margin-bottom: 20px;
}

.min-price-input {
  background-color: inherit;
}

.min-price-input {
  background-color: inherit;
}


.filter-button {
  text-transform: uppercase;
  width: 137px;
  height: 36px;
  background-color: inherit;
}

.filter1, .filter2 {
  color: var(--text-inverse);
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  list-style: none;
  padding: 0;
}

.input-checkbox {
  background-color: inherit;
}

.filter-infrastructure, .filter-housing, .filter-cost {
  color: var(--text-inverse);
  font-size: 16px;
  line-height: 21px;
  font-weight: 700;
}

.filter-result {
  font-size: 14px;
  line-height: 21px;
  font-weight: 400;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

.hotel {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  width: 1200px;
  height: 33.33%;
  /* margin-top: 50px; */

}

.filter-result li:first-child{
  border-top: solid 1px #E5E5E5;
}

.filter-result li{
  border-bottom: solid 1px #E5E5E5;
}


.hotel-picture {
  width: 135px;
  height: 90px;
  margin-left: 73px;
  margin-top: 30px;
}

.hotel-block {
  display: flex;
  justify-content: space-between;
}

.hotel-block1 {
  margin-left: 30px;
  margin-bottom: 31px;

}

.hotel-block2 {
  display: flex;

}

.search-results {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 1200px;
  height: 540px;
}

.search-results__row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 86px;
}

.search-results__column {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-right: 73px;
}

.result-count {
  text-align: center;
  list-style: none;
}

.sort-caption {
  text-align: center;
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-left: 73px;
}

.sort {
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
  margin-left: 46px;
}

.sorting {
  list-style: none;
}

.results-list {
  text-align: center;
  font-size: 12px;
  line-height: 18px;
  font-weight: 400;
  list-style: none;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.results-list-row {
  margin-left: 40px;
  color: var(--basic-background5);
  border-bottom: 1px dashed #81B3D2;
}

.results-list-row:hover {
  color: var(--basic-background1);
  border-bottom: 1px dashed #81B3D2;
}

.results-list-row:active {
  color: var(--text-basic);
  border-bottom: none;
}

.results-list-row1 {
  margin-left: 32px;
  color: var(--basic-background5);
  border-bottom: 1px dashed #81B3D2;
}

.results-list-row1:hover {
  color: var(--basic-background1);
  border-bottom: 1px dashed #81B3D2;
}

.results-list-row1:active {
  color: var(--text-basic);
  border-bottom: none;
}

.hotel-name {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  margin-bottom: 0;

}

.hotel-name:hover {
  color: var(--basic-background1);
}

.hotel-name:active {
  color: var(--basic-background5);
}

.hotel-price {
  margin-left: 40px;
}

.hotel-price1 {
  margin-left: 63px;
}

.hotel-price2 {
  margin-left: 22px;
}

.hotel-type {

}

.hotel-rating {
  color: var(--text-basic);
  background-color: var(--basic-background3);
  width: 110px;
  height: 27px;
  text-align: center;
  align-self: flex-end;
  margin-right: 73px;
  margin-bottom: 31px;
}

.hotel-detail, .hotel-book {
  color: var(--text-inverse);
  height: 27px;
  text-transform: uppercase;
  font-size: 14px;
  line-height: 21px;
  font-weight: 700;
  border: none;

}

.hotel-detail {
  background-color: var(--basic-background1);
  width: 110px;
}

.hotel-detail:hover {
  background-color: var(--basic-hover);
}

.hotel-detail:active {
  color: rgba(255,255,255, 0.3);
  background-color: var(--button-active);
  display: inline-block;
  border: none;
}

.hotel-book {
  background-color: var(--reservation);
  width: 142px;
}

.hotel-book:hover {
  background-color: var(--reservation1);
}

.hotel-book:active {
  color: rgba(255,255,255, 0.3);
  background-color: var(--button-secondary-background-active);
  border: none;
}

.hotel-detail:hover {
  background-color: var(--basic-hover);
  border: none;
}

.hotel-book:hover {
  background-color: var(--reservation1);
  border: none;
}

.map {

}

.main-footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 120px;
  /* margin: 0 auto; */
  margin-top: -120px;
  position: relative;
  background: rgba(255, 255, 255, 0.9);
}

.footer-contacts {
  line-height: 5px;
  align-self: center;
}

.main-footer-catalog {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 1200px;
  height: 120px;
}

.phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
  text-decoration: none;
  align-self: center;

}

.social-buttons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;

}

.social-button {
  background-color: var(--basic-background1);
  margin: 0 6px;
  width: 46px;
  height: 48px;
  display: inline-flex;
}

.social-button:hover {
  background-color: var(--basic-hover);
}

.social-button:active {
  color: var(--basic-background1);
  background-color: var(--button-active);
}

.social-logo {
  flex-grow: 0;
  align-self: center;
  margin: 0 auto;
}

.social-logo1 {
  width: 16.98px;
  height: 15.01px;
}

.social {
  align-self: center;
}

.copyright {
  font-size: 14px;
  line-height: 26px;
  color: var(--text-basic);
  font-weight: normal;
  display: flex;
  align-items: center;
  align-self: center;
}

.copyright-label {
  margin-right: 10px;
}

/* .copyright:hover {
  color: var(--basic-background1);
}

.copyright:active {
  color: var(--basic-background5);
} */
