

:root {
  --text-inverse: #FFFFFF;
  --basic-background1: #81B3D2;
  --basic-background2: #EEEEEE;
  --basic-background3: #F2F2F2;
  --basic-hover: #669EC0;
  --button-focus: #5496BD;
  --reservation: #766357;
  --reservation1: #604E43;
  --reservation2: #503E33;
  --reservation3: #766458;
  --text-basic: #000000;
  --text-faded: #333333;
 }

.page-body {
  min-width: 1200px;
  margin: 0;
  padding: 0;
  font-family: 'PT Sans', sans-serif;
  font-size: 14px;
  line-height: 21px;
  font-weight: normal;
  color: var(--text-basic);
  text-transform: uppercase;
  background-color: var(--text-inverse);
}

.main-header {
  text-align: center;
}

.main-navigation {
  color: var(--text-basic);
  list-style: none;
  text-decoration: none;
}

.main-header-logo {
  text-align: center;
}

.site-navigation {
  color: var(--text-basic);
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
  list-style: none;
  text-align: center;
  text-decoration: none;
  padding-left: 0;
}

.site-navigation a {
  color: var(--text-basic);
  text-align: center;
  text-decoration: none;
}

.site-description {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
}

.section-header {
  font-size: 14px;
  line-height: 26px;
  font-weight: normal;
}

.container {
  text-align: center;
  width: 1200px;
  margin: 0 auto;

}

.feature {

}

.features-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
}

.features-item {
width: 400px;
}

.features-item-special {
  width: 100%;
  display: flex;
}

.features-item-special .feature {
  width: 33.33%;
}

.feature-accent {
  background-color: var(--basic-background1);
  color: var(--text-inverse);
  width: 33.33%;
}

.feature-faded {
  background-color: var(--basic-background2);
}

.feature-description {
  color: var(--text-faded);
}

.caption {
  font-size: 21px;
  line-height: 21px;
  font-weight: 700;
}

.question {
  font-size: 30px;
  line-height: 24px;
  font-weight: 700;
}

.list {
  list-style: none;
}

.dropdown {
  text-align: center;
  font-size: 14px;
  line-height: 26px;
  font-weight: 700;
}

.dropdown-input, .dropdown-input1 {
  background-color: var(--basic-background3);
  border: none;
}

.dropdown-input {
  width: 346px;
  height: 38px;
}

.dropdown-input1 {
  width: 114px;
  height: 38px;
}

.filter {
  list-style: none;
}

.sorting {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

/* .basic-background2 {
  background-color: var(--basic-background2);
  } */

.find-hotels {

}

.search-button {
  font-size: 21px;
  line-height: 27.17px;
  font-weight: 700;
  display: inline-block;
  width: 458px;
  height: 58px;
  background-color: var(--basic-background1);
  color: var(--text-inverse);
  border: none;
  text-transform: uppercase;
}

.search-button:hover {
  background-color: var(--basic-hover);
}

.search-button:focus {
  color: var(--basic-background1);
  background-color: var(--button-focus);
  display: inline-block;
  border: none;
}

.search-hotel {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  display: inline-block;
  width: 568px;
  height: 86px;
  background-color: var(--reservation);
  color: var(--text-inverse);
  border: none;
  text-transform: uppercase;
}

.main-footer {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
}

.phone {
  font-size: 21px;
  line-height: 26px;
  font-weight: 700;
  color: inherit;
}

.social-buttons {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-left: 0;
}

.social-button {
  background-color: var(--basic-background1);
  margin: 0 6px;
  width: 46px;
  height: 48px;
  display: inline-flex;
  padding: 10px;
}

.social-button:hover {
  background-color: var(--basic-hover);
}

.social-button:focus {
  color: var(--basic-background1);
  background-color: var(--button-focus);
}

.social-logo {
  flex-grow: 0;
  align-self: center;
  margin: 0 auto;
}

.social-logo1 {
  width: 16.98px;
  height: 15.01px;
}

.footer-copyright {
  font-size: 14px;
  line-height: 26px;
  color: var(--text-basic);
  font-weight: normal;
}

.footer-copyright:hover {
  color: var(--basic-background1);
}

.footer-copyright:focus {
  color: var(--basic-background2);
}
